.section {
  padding: 5rem 0;
  height: 80vh;
  border-radius: 20px;
  background-color: var(--color-primary);
  width: auto;

  @include responsive(small) {
    height: 100vh;
  }

  &__title--experiences {
    text-align: center;
    margin-bottom: 4rem;

    .section__description {
      font-size: 2rem;
      color: var(--color-white);
    }

    .section__header {
      font-size: 2.5rem;
      color: var(--color-white);
    }
  }
}

.slider {
  max-width: 75rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  @include responsive(small) {
    height: 50rem;
    border-radius: 20px;
  }
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  height: 50rem;
  align-items: center;
  justify-content: center;
  transition: transform 1s;

  // @include responsive(large) {
  //   height: 50rem;
  // }

  @include responsive(medium) {
    height: 30rem;
    padding: 1rem;
  }

  @include responsive(small) {
    height: 50rem;
    padding: 1rem;
  }
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: rgba(166, 166, 166, 0.7);
  font-family: inherit;
  color: var(--color-black);
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;

  @include responsive(large) {
    height: 4.5rem;
    width: 4.5rem;
    font-size: 2.5rem;
  }

  @include responsive(medium) {
    height: 3.5rem;
    width: 3.5rem;
    font-size: 2rem;
  }

  @include responsive(small) {
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
  }
}

.slider__btn--left {
  left: 2%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 2%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  @include responsive(small) {
    bottom: 10%;
  }
}

.dots__dot {
  border: none;
  background-color: var(--color-secondary-opacity);
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  @include responsive(medium) {
    height: 0.8rem;
    width: 0.8rem;
    margin-right: 1.25rem;
  }

  @include responsive(small) {
    height: 0.6rem;
    width: 0.6rem;
    margin-right: 1rem;
  }
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: var(--color-secondary);
  opacity: 1;
}

.experience {
  padding: 2rem;
  background: var(--color-secondary);
  border-radius: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(105, 105, 105, 0.1);
  color: var(--color-tertiary-darker);
  margin: 5rem;

  @include responsive(small) {
    height: 100vh;
    margin: 0.5rem;
  }

  &__header {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--color-warning);
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    color: var(--color-white);
  }

  &__details {
    display: flex;
    align-items: center;

    @include responsive(small) {
      flex-direction: column;
      justify-content: center;
    }

    &__logo {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      margin-right: 1rem;
    }

    &__company {
      font-size: 1.6rem;
      font-weight: bold;
      color: var(--color-primary);
    }

    &__location,
    &__duration {
      font-size: 1.2rem;
      color: var(--color-warning);
    }
  }
}
