* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--color-black);
  line-height: 1.9;
  background-color: var(--color-bg);
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: var(--color-bg1);
  color: var(--color-light);
}
