:root {
  --color-primary: #6c63ff;
  --color-secondary: #253d7e;
  --color-tertiary: #232d54;
  --color-primary-darker: #161e56;
  --color-secondary-darker: #011245d6;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  --color-success: #00bf8e;
  --color-warning: #f7b94b;
  --color-danger: #f75842;
  --color-danger-varient: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(100, 96, 96, 0.841);
  --color-black: #000;
  --color-bg: #f5f5f5;
  --color-bg1: #fff;
  --color-bg2: #ececec;
  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
}

body.dark-mode {
  --color-primary: #161e56;
  --color-secondary: #011245d6;
  --color-tertiary: #fd424b;
  --color-primary-darker: #0d0e3e;
  --color-secondary-darker: #010e36;
  --color-tertiary-darker: #fd232d;
  --color-primary-opacity: #3a5ec5;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #1d7043, #6a9337);
  --gradient-secondary: linear-gradient(to top left, #994c02, #cc7c03);
  --color-success: #009f7e;
  --color-warning: #c67b2d;
  --color-danger: #c74432;
  --color-danger-varient: rgba(199, 68, 50, 0.4);
  --color-white: #f0f0f0;
  --color-light: rgba(240, 240, 240, 0.7);
  --color-black: #101010;
  --color-bg: #1f2641;
  --color-bg1: #2e3267;
  --color-bg2: #424890;
}
